.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
}

.banner .welcome {
    color: white;
    padding: 30px;
    background-color: #feb614;
    position: absolute;
    left: 0;
    top: 30%;
}

.banner h1 {
    font-size: 74px;
}

.banner span {
    font-size: 1.3em;
}